/******************************************************/
/*        INDENTIFICANDO TAMANHOS DE TELA             */
/******************************************************/
@media (min-width : 420px) and (max-width : 1980px) {
    .header-menu {
        display: none;
    }

    .header .header-nav {
        display: block;
        float: right;
    }
    
    .header .header-nav ul li {
        display: inline-block;
        width: auto;
    }


}
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/
/******************************************************/